  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        <li class="{MENU1}"><a href="{ROOT}/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="treeview {MENU2}">
          <a href="#"><i class="fa fa-heartbeat"></i> <span>Saúde</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU2_1}"><a href="{ROOT}/seguradoras">Todas as Seguradoras</a></li>
            <li class="{MENU2_2}"><a href="{ROOT}/add-seguradora">Adicionar Seguradora</a></li>
            <li class="{MENU2_3}"><a href="{ROOT}/planos-saude">Planos de Saúde</a></li>
            <li class="{MENU2_4}"><a href="{ROOT}/add-plano-saude">Adicionar Novo Plano</a></li>
          </ul>
        </li>
        
        <li class="treeview {MENU8}">
          <a href="#"><i class="fa fa-smile-o"></i> <span>Odonto</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU8_1}"><a href="{ROOT}/seguradoras-odonto">Todas as Seguradoras</a></li>
            <li class="{MENU8_2}"><a href="{ROOT}/add-seguradora-odonto">Adicionar Seguradora</a></li>
            <li class="{MENU8_3}"><a href="{ROOT}/planos-odonto">Planos Odontológicos</a></li>
            <li class="{MENU8_5}"><a href="{ROOT}/add-plano-odonto">Adicionar Novo Plano</a></li>
            <li class="{MENU8_4}"><a href="{ROOT}/procedimentos">Procedimentos</a></li>
          </ul>
        </li>
        
        <li class="treeview {MENU4}">
          <a href="#"><i class="fa fa-building-o"></i> <span>Adesão</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU4_1}"><a href="{ROOT}/entidades">Entidades</a></li>
            <li class="{MENU4_2}"><a href="{ROOT}/empregos">Empregos</a></li>
            <li class="{MENU4_3}"><a href="{ROOT}/administradoras">Administradoras</a></li>
            <li class="{MENU4_4}"><a href="{ROOT}/operadoras">Operadoras</a></li>
            <li class="{MENU4_5}"><a href="{ROOT}/planos-adesao">Planos por Adesão</a></li>
            <li class="{MENU4_6}"><a href="{ROOT}/add-plano-adesao">Adicionar Novo Plano</a></li>
          </ul>
        </li>
        
        <li class="treeview {MENU3}">
          <a href="#"><i class="fa fa-plus"></i> <span>Rede Credenciada</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU3_1}"><a href="{ROOT}/rede-credenciada">Toda a Rede</a></li>
            <li class="{MENU3_2}"><a href="{ROOT}/add-unidade">Adicionar Unidade</a></li>
            <li class="{MENU3_3}"><a href="{ROOT}/especialidades">Especialidades</a></li>
          </ul>
        </li>
        
        <li class="treeview {MENU9}">
          <a href="#"><i class="fa fa-calendar-check-o"></i> <span>Carências</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU9_1}"><a href="{ROOT}/carencias">Todos os Planos</a></li>
            <li class="{MENU9_2}"><a href="{ROOT}/add-carencia">Adicionar Plano</a></li>
          </ul>
        </li>
        
		<li class="treeview {MENU11}">
          <a href="#"><i class="fa fa-money"></i> <span>Reembolsos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU11_1}"><a href="{ROOT}/reembolsos">Todos os Planos</a></li>
            <li class="{MENU11_2}"><a href="{ROOT}/add-reembolso">Adicionar Plano</a></li>
          </ul>
        </li>
		  
        <li class="treeview {MENU10}">
          <a href="#"><i class="fa fa-file-text"></i> <span>Informações Adicionais</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU10_1}"><a href="{ROOT}/informacoes_adicionais">Todas as Informações</a></li>
            <li class="{MENU10_2}"><a href="{ROOT}/add-informacoes">Adicionar Informações</a></li>
          </ul>
        </li>
        
         <li class="treeview {MENU5}">
          <a href="#"><i class="fa fa-briefcase"></i> <span>Corretoras</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU5_1}"><a href="{ROOT}/corretoras">Todas as Corretoras</a></li>            
            <li class="{MENU5_2}"><a href="{ROOT}/add-corretora">Adicionar Corretora</a></li>
          </ul>
        </li>
        
        <li class="treeview {MENU6}">
          <a href="#"><i class="fa fa-users"></i> <span>Usuários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU6_1}"><a href="{ROOT}/usuarios">Todos os Usuários</a></li>
            <li class="{MENU6_2}"><a href="{ROOT}/add-usuario">Adicionar Usuário</a></li>
          </ul>
        </li>
        
        <li class="treeview {MENU7}">
          <a href="#"><i class="fa fa-gears"></i> <span>Configurações</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU7_1}"><a href="{ROOT}/alterar-senha">Alterar Senha</a></li>
          </ul>
        </li>

        <li><a href="?logout=logout"><i class="fa fa-sign-out"></i> <span>Desconectar</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>