  <style type="text/css">
  .nao-lido{font-weight:bold;}

  </style>
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="{ROOT}/src/imagens/icone.png" alt="Group Saúde" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="{ROOT}/src/imagens/icone.png" alt="Group Saúde" /></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Alterar Navegação</span>
      </a>
    </nav>
  </header>