<!-- Le styles -->
    <link rel="stylesheet" href="{ROOT}/assets/css/style.css">
    <link rel="stylesheet" href="{ROOT}/assets/css/loader-style.css">
    <link rel="stylesheet" href="{ROOT}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{ROOT}/assets/js/progress-bar/number-pb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{ROOT}/src/plugins/select2/dist/css/select2.min.css">
    <style type="text/css">
    canvas#canvas4 {
        position: relative;
        top: 20px;
    }
	
	.tit_full{text-align:center; width:100%; padding:5px 0 5px 0; background:#B2B2B2; color:#FFF;}
	.grayscale {
	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		 -o-filter: grayscale(100%);
	filter: grayscale(100%);
	}
	.display-none{display:none;}
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
  <link rel="stylesheet" href="{ROOT}/assets/js/timepicker/bootstrap-timepicker.css">
    <link rel="stylesheet" href="{ROOT}/assets/js/datepicker/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{ROOT}/assets/js/datepicker/clockface.css">
    <link rel="stylesheet" href="{ROOT}/assets/js/datepicker/bootstrap-datetimepicker.css">

	    <link href="{ROOT}/assets/js/iCheck/flat/all.css" rel="stylesheet">
    <link href="{ROOT}/assets/js/iCheck/line/all.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{ROOT}/assets/js/tag/jquery.tagsinput.css">
        <link rel="shortcut icon" href="{ROOT}/src/imagens/icone.png">
  <link rel="apple-touch-icon" href="{ROOT}/src/imagens/logo.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{ROOT}/src/imagens/logo.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{ROOT}/src/imagens/logo.png">