﻿<script>
 
function mostraSelect() {
    if (document.getElementById('entidades').checked) {
        document.getElementById('SelectEntidades').style.display = 'block';
        document.getElementById('SelectAdministradoras').style.display = 'none';
		document.getElementById('SelectProfissao').style.display = 'none';
    }
	if (document.getElementById('administradoras').checked) {
        document.getElementById('SelectEntidades').style.display = 'none';
        document.getElementById('SelectAdministradoras').style.display = 'block';
		document.getElementById('SelectProfissao').style.display = 'none';
    }
    if (document.getElementById('profissao').checked) {
        document.getElementById('SelectEntidades').style.display = 'none';
        document.getElementById('SelectAdministradoras').style.display = 'none';
		document.getElementById('SelectProfissao').style.display = 'block';
    }
}
</script>
<form action="{ROOT}/processa-simulacao-adesao" method="post"  onsubmit="return validate()">
<input type="hidden" name="perfil" value="{PERFIL}" />
<input type="hidden" name="estado" value="{SIGLA}" />
<input type="hidden" id="quantidade" name="quantidade" />
<h2>Estado Selecionado: {ESTADO} - {SIGLA}</h2>
<a href="{ROOT}/{URL}">Alterar Estado</a><br /><br />
<h2>Selecione uma cidade:</h2>
<div class="row">
  <div class="form-group col-md-4">
    <select name="selectCidade" id="selectCidade" class="form-control select2" placeholder="Selecione">
        <option value="0">Todas as Cidades</option>
        <!-- BEGIN BLOCO_CIDADES_FILTRO -->
        <option value="{CODIGO_CIDADE}">{CIDADES_FILTRO}</option>
        <!-- END BLOCO_CIDADES_FILTRO -->
    </select>
  </div>
</div>
<div class="tipo">
<h2>Selecione um dos filtros abaixo</h2>

	
  <input type="radio" id="administradoras" onclick="javascript:mostraSelect();" name="filtro" required />
    <label for="administradoras">
       Administradoras
    </label>&nbsp;&nbsp;&nbsp;
  <input type="radio" id="entidades" onclick="javascript:mostraSelect();" name="filtro" required />
    <label for="entidades">
       Entidades
    </label>&nbsp;&nbsp;&nbsp;        
  <input type="radio" id="profissao" onclick="javascript:mostraSelect();" name="filtro" required />
    <label for="profissao">
		Profissão
    </label>
</div>
<div class="col-md-12">
    <div class="row" id="SelectAdministradoras" style="display:none;">
        <h3>Selecione uma Administradora</h3>
        
        <div class="form-group col-md-6">
        <select name="selectAdministradora" id="selectAdministradora" class="form-control" placeholder="Selecione">
    		<option></option>
            <!-- BEGIN BLOCO_ADMINISTRADORAS -->
            <option value="{ID_ADMINISTRADORA}">{ADMINISTRADORA}</option>
            <!-- END BLOCO_ADMINISTRADORAS -->
        </select>
        </div>
        <div class="col-md-12" id="target_administradoras">
        	<div class="load"></div>
        </div>
    
    </div>
    <div class="row" id="SelectEntidades" style="display:none;">
    <h3>Selecione uma Entidade</h3>
    
	<div class="form-group col-md-6">
    <select name="selectEntidade"  id="selectEntidade" class="form-control" data-placeholder="Selecione">
    	<option></option>
    	<!-- BEGIN BLOCO_ENTIDADES -->
    	<option value="{ID_ENTIDADE}">{ENTIDADE}</option>
        <!-- END BLOCO_ENTIDADES -->
    </select>
    </div>
    <div class="col-md-12" id="target_entidades">
        <div class="load"></div>
    </div>
    </div>
    <div class="row" id="SelectProfissao" style="display:none;">
    <h3>Selecione uma Profissão</h3>
    
	<div class="form-group col-md-6">
    <select name="selectEmprego"  id="selectEmprego" class="form-control" data-placeholder="Selecione">
    	<option></option>
    	<!-- BEGIN BLOCO_EMPREGOS -->
    	<option value="{ID_EMPREGO}">{EMPREGO}</option>
        <!-- END BLOCO_EMPREGOS -->
    </select>
    </div>
    <div class="col-md-12" id="target_empregos">
        <div class="load"></div>
    </div>
    </div>
</div>
<div class="vidas">
<h2>Quantidade de Vidas</h2>
<div class="row">
    <div class="form-group col-md-2">
        <label for="0_18">0 - 18 anos</label>
        <input type="number" class="form-control" id="0_18" name="idade1" />
    </div>
    <div class="form-group col-md-2">
        <label for="19_23">19 - 23 anos</label>
        <input type="number" class="form-control" id="19_23" name="idade2" />
    </div>
    <div class="form-group col-md-2">
        <label for="24_28">24 -28 anos</label>
        <input type="number" class="form-control" id="24_28" name="idade3" />
    </div>
    <div class="form-group col-md-2">
        <label for="29_33">29 - 33 anos</label>
        <input type="number" class="form-control" id="29_33" name="idade4" />
    </div>
    <div class="form-group col-md-2">
        <label for="34_38">34 - 38 anos</label>
        <input type="number" class="form-control" id="34_38" name="idade5" />
    </div>
    <div class="clearfix">
    
    </div>
    <div class="form-group col-md-2">
        <label for="39_43">39 - 43 anos</label>
        <input type="number" class="form-control" id="39_43" name="idade6" />
    </div>
    <div class="form-group col-md-2">
        <label for="44_48">44 - 48 anos</label>
        <input type="number" class="form-control" id="44_48" name="idade7" />
    </div>
    <div class="form-group col-md-2">
        <label for="49_53">49 - 53 anos</label>
        <input type="number" class="form-control" id="49_53" name="idade8" />
    </div>
    <div class="form-group col-md-2">
        <label for="54_58">54 - 58 anos</label>
        <input type="number" class="form-control" id="54_58" name="idade9" />
    </div>
    <div class="form-group col-md-2">
        <label for="mais_59">Acima de 59 anos</label>
        <input type="number" class="form-control" id="mais_59" name="idade10" />
    </div>
    <div class="col-md-2">
        <p id="total"></p>
    </div>
     <div class="clearfix"></div><br />
     <div class="col-md-12"><button type="button" class="btn btn-default add_field_button pull-right">Adicionar Excessão</button> </div>
     <div class="input_fields_wrap"></div>
</div>
</div>
<div class="finalizar">
<h2>Selecione as Informações que deseja visualizar</h2>
<div class="col-sm-12">
		<div class="skin skin-line">
			<ul class="list col-md-3">
				<li>
					<input tabindex="17" type="checkbox" id="line-checkbox-1" name="preco" value="1" checked>
					<label for="line-checkbox-1">Preço</label>
				</li>
				<li>
					<input tabindex="18" type="checkbox" id="line-checkbox-2"name="carencia" value="1" checked>
					<label for="line-checkbox-2">Carência</label>
				</li>
				<li>
					<input tabindex="19" type="checkbox" id="line-checkbox-3" name="acomodacao" value="1" checked>
					<label for="line-checkbox-3">Acomodação</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="20" type="checkbox" id="line-checkbox-4" name="reembolso" value="1" checked>
					<label for="line-checkbox-4">Reembolso</label>
				</li>
				<li>
					<input tabindex="21" type="checkbox" id="line-checkbox-5" name="rede_credenciada" value="1" checked>
					<label for="line-checkbox-5">Rede Credenciada</label>
				</li>
				<li>
					<input tabindex="22" type="checkbox" id="line-checkbox-6" name="especialidades" value="1" checked>
					<label for="line-checkbox-6">Especialidades</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="23" type="checkbox" id="line-checkbox-7" name="informacoes" value="1" checked>
					<label for="line-checkbox-7">Preço</label>
				</li>
				<li>
					<input tabindex="24" type="checkbox" id="line-checkbox-8" name="atuacao" value="1"  checked>
					<label for="line-checkbox-8">Carência</label>
				</li>
				<li>
					<input tabindex="25" type="checkbox" id="line-checkbox-9" name="coparticipacao" value="1" checked>
					<label for="line-checkbox-9">Acomodação</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="26" type="checkbox" id="line-checkbox-10" name="taxa" value="1" checked>
					<label for="line-checkbox-10">Taxa</label>
				</li>
			
			</ul>
			<div style="clear:both;"></div>
		</div>
	</div>	

<button type="submit" class="btn btn-success col-md-12">Simular</button>
</form>
</div>
