﻿<form action="{ROOT}/processa-resumida-adesao" method="post"  onsubmit="return validate()">
<input type="hidden" name="perfil" value="{PERFIL}" />
<input type="hidden" name="estado" value="{SIGLA}" />
<h2>Estado Selecionado: {ESTADO} - {SIGLA}</h2>
<a href="{ROOT}/{URL}">Alterar Estado</a><br /><br />
	<div class="filtros">
<input type="radio" id="administradoras" name="filtro"  onclick="javascript:mostraSelect();" required />
        <label for="administradoras">
			Administradora  
         </label>
<input type="radio" id="entidades" name="filtro"  onclick="javascript:mostraSelect();" required />
        <label for="entidades">
			Entidade  
         </label>       
<input type="radio" id="profissao" name="filtro"  onclick="javascript:mostraSelect();" required />
        <label for="profissao">
			Profissão  
         </label>           
<div class="col-md-12">
    <div class="row" id="SelectAdministradoras" style="display:none;">
        <h3>Selecione uma Administradora</h3>
        
        <div class="form-group col-md-6">
        <select name="selectAdministradora" id="selectAdministradora" class="form-control" placeholder="Selecione" >
    		<option></option>
            <!-- BEGIN BLOCO_ADMINISTRADORAS -->
            <option value="{ID_ADMINISTRADORA}">{ADMINISTRADORA}</option>
            <!-- END BLOCO_ADMINISTRADORAS -->
        </select>
        </div>
        <div class="col-md-12" id="target_administradoras">
        	<div class="load"></div>
        </div>
    
    </div>
    <div class="row" id="SelectEntidades" style="display:none;">
    <h3>Selecione uma Entidade</h3>
    
	<div class="form-group col-md-6">
    <select name="selectEntidade"  id="selectEntidade" class="form-control" data-placeholder="Selecione" >
    	<option></option>
    	<!-- BEGIN BLOCO_ENTIDADES -->
    	<option value="{ID_ENTIDADE}">{ENTIDADE}</option>
        <!-- END BLOCO_ENTIDADES -->
    </select>
    </div>
    <div class="col-md-12" id="target_entidades">
        <div class="load"></div>
    </div>
    </div>
    <div class="row" id="SelectProfissao" style="display:none;">
    <h3>Selecione uma Profissão</h3>
    
	<div class="form-group col-md-6">
    <select name="selectEmprego"  id="selectEmprego" class="form-control" data-placeholder="Selecione" >
    	<option></option>
    	<!-- BEGIN BLOCO_EMPREGOS -->
    	<option value="{ID_EMPREGO}">{EMPREGO}</option>
        <!-- END BLOCO_EMPREGOS -->
    </select>
    </div>
    <div class="col-md-12" id="target_empregos">
        <div class="load"></div>
    </div>
    </div>
</div>
	</div>
	<div class="finalizar">
<h2>Selecione as Informações que deseja visualizar</h2>
<div class="col-sm-12">
		<div class="skin skin-line">
			<ul class="list col-md-3">
				<li>
					<input tabindex="17" type="checkbox" id="line-checkbox-1" name="preco" value="1" checked>
					<label for="line-checkbox-1">Preço</label>
				</li>
				<li>
					<input tabindex="18" type="checkbox" id="line-checkbox-2"name="carencia" value="1" checked>
					<label for="line-checkbox-2">Carência</label>
				</li>
				<li>
					<input tabindex="19" type="checkbox" id="line-checkbox-3" name="acomodacao" value="1" checked>
					<label for="line-checkbox-3">Acomodação</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="20" type="checkbox" id="line-checkbox-4" name="reembolso" value="1" checked>
					<label for="line-checkbox-4">Reembolso</label>
				</li>
				<li>
					<input tabindex="21" type="checkbox" id="line-checkbox-5" name="rede_credenciada" value="1" checked>
					<label for="line-checkbox-5">Rede Credenciada</label>
				</li>
				<li>
					<input tabindex="22" type="checkbox" id="line-checkbox-6" name="especialidades" value="1" checked>
					<label for="line-checkbox-6">Especialidades</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="23" type="checkbox" id="line-checkbox-7" name="informacoes" value="1" checked>
					<label for="line-checkbox-7">Preço</label>
				</li>
				<li>
					<input tabindex="24" type="checkbox" id="line-checkbox-8" name="atuacao" value="1"  checked>
					<label for="line-checkbox-8">Carência</label>
				</li>
				<li>
					<input tabindex="25" type="checkbox" id="line-checkbox-9" name="coparticipacao" value="1" checked>
					<label for="line-checkbox-9">Acomodação</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="26" type="checkbox" id="line-checkbox-10" name="taxa" value="1" checked>
					<label for="line-checkbox-10">Taxa</label>
				</li>
			
			</ul>
			<div style="clear:both;"></div>
		</div>
	</div>	
<button type="submit" class="btn btn-success col-md-12">Avançar</button>
</form>
	</div>