﻿<form action="{ROOT}/processa-simulacao-odonto" method="post"  onsubmit="return validate()">
<input type="hidden" id="perfil" name="perfil" value="{PERFIL}" />
<input type="hidden" id="estado" name="estado" value="{SIGLA}" />
<h2>Estado Selecionado: {ESTADO} - {SIGLA}</h2>
<a href="{ROOT}/{URL}">Alterar Estado</a><br /><br />
<div class="filtros">
<h2>Selecione uma cidade:</h2>
<div class="row">
  <div class="form-group col-md-4">
    <select name="cidade" id="selectCidade" class="form-control select2" data-placeholder="Selecione">
   		 <option value="0">Todas as cidades</option>
        <!-- BEGIN BLOCO_CIDADES_FILTRO -->
        <option value="{CIDADES_FILTRO}">{CIDADES_FILTRO}</option>
        <!-- END BLOCO_CIDADES_FILTRO -->
    </select>
  </div>
</div>
<div class="vidas">
{VIDAS_ODONTO}
</div>
<div class="pme">
{FILTROS_PME}
</div>
</div>
<div class="clearfix"></div> 
<h2>Selecione as Seguradoras</h2>
<div class="row">
	<div id="seguradoras">
    	
    </div>
    <div class="load"></div>
    <div id="seguradoras_default">
	<!-- BEGIN BLOCO_SEGURADORAS -->
	<div class="form-group col-md-2">
		<input type="radio" id="{SLUG}" value="{TOKEN_SEGURADORA}" name="seguradora" />
        <label for="{SLUG}">
    		<img src="{ROOT}/admin/imagens/{IMAGEM_DESTACADA}" alt="{NOME}" class="img-responsive">
		</label>
    </div>
	<!-- END BLOCO_SEGURADORAS -->
    <div class="col-md-12"><div class="alert alert-danger"><span class="entypo-attention"></span><strong>Ops!</strong>&nbsp;&nbsp;Nenhuma seguradora encontrada.</div></div>
	<input type="hidden" id="finaliza" value="1" />
  <!-- FINALLY BLOCO_SEGURADORAS -->
    </div>
</div>
<div class="finalizar">
<h2>Selecione as Informações que deseja visualizar</h2>
<div class="col-sm-12">
		<div class="skin skin-line">
			<ul class="list col-md-3">
				<li>
					<input tabindex="17" type="checkbox" id="line-checkbox-1" name="preco" value="1" checked>
					<label for="line-checkbox-1">Preço</label>
				</li>
				<li>
					<input tabindex="18" type="checkbox" id="line-checkbox-2"name="carencia" value="1" checked>
					<label for="line-checkbox-2">Carência</label>
				</li>
				<li>
					<input tabindex="19" type="checkbox" id="line-checkbox-3" name="fundo_reserva" value="1" checked>
					<label for="line-checkbox-3">Fundo de Reserva</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="20" type="checkbox" id="line-checkbox-4" name="reembolso" value="1" checked>
					<label for="line-checkbox-4">Reembolso</label>
				</li>
				<li>
					<input tabindex="21" type="checkbox" id="line-checkbox-5" name="rede_credenciada" value="1" checked>
					<label for="line-checkbox-5">Rede Credenciada</label>
				</li>
				<li>
					<input tabindex="22" type="checkbox" id="line-checkbox-6" name="especialidades" value="1" checked>
					<label for="line-checkbox-6">Especialidades</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="23" type="checkbox" id="line-checkbox-7" name="informacoes" value="1" checked>
					<label for="line-checkbox-7">Preço</label>
				</li>
				<li>
					<input tabindex="24" type="checkbox" id="line-checkbox-8" name="atuacao" value="1"  checked>
					<label for="line-checkbox-8">Carência</label>
				</li>
				<li>
					<input tabindex="25" type="checkbox" id="line-checkbox-9" name="coparticipacao" value="1" checked>
					<label for="line-checkbox-9">Coparticipação</label>
				</li>
			
			</ul>
			<ul class="list col-md-3">
				<li>
					<input tabindex="26" type="checkbox" id="line-checkbox-10" name="taxa" value="1" checked>
					<label for="line-checkbox-10">Taxa</label>
				</li>
			
			</ul>
			<div style="clear:both;"></div>
		</div>
	</div>
<button type="submit" class="btn btn-success col-md-12">Simular</button>
</form>
	</div>