﻿<div class="footer-space"></div>
<div id="footer">
    <div class="devider-footer-left"></div>
    <div class="time">
        <p id="spanDate"></p>
        <p id="clock"></p>
    </div>
    <div class="copyright">Group Saúde - 2017 | Todos os Direitos Reservados - Desenvolvido por <a href="https://orbitdigital.com.br">Orbit Digital</a></div>
    <div class="devider-footer"></div>


</div>
<!-- / END OF FOOTER -->
