 <!-- END OF RIGHT SLIDER CONTENT-->
         <script src="{ROOT}/src/bower_components/jquery/dist/jquery.js"></script>
    <script src="{ROOT}/assets/js/progress-bar/src/jquery.velocity.min.js"></script>
    <script src="{ROOT}/assets/js/progress-bar/number-pb.js"></script>
    <script src="{ROOT}/assets/js/progress-bar/progress-app.js"></script>

    <!-- MAIN EFFECT -->
    <script src="{ROOT}/assets/js/preloader.js"></script>
    <script src="{ROOT}/assets/js/bootstrap.js"></script>
    <script src="{ROOT}/assets/js/app.js"></script>
    <script src="{ROOT}/assets/js/load.js"></script>
    <script src="{ROOT}/assets/js/main.js"></script>
	
    
    <script src="{ROOT}/src/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="{ROOT}/assets/js/jhere-custom.js"></script>
<script type="text/javascript" src="{ROOT}/src/js/jquery.validate.js"></script>
<!-- INCLUSÃO DO JQUERY.MASKEDINPUT -->
<script type="text/javascript" src="{ROOT}/src/js/jquery.maskedinput.js"></script>
<script type="text/javascript" src="{ROOT}/assets/js/timepicker/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="{ROOT}/assets/js/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{ROOT}/assets/js/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>


    <script type="text/javascript" src="{ROOT}/assets/js/tag/jquery.tagsinput.js"></script>
	<!-- /MAIN EFFECT -->
    <script type="text/javascript" src="{ROOT}/assets/js/iCheck/jquery.icheck.js"></script>
    <script type="text/javascript" src="{ROOT}/assets/js/switch/bootstrap-switch.js"></script>

    <!--  PLUGIN -->
    <script>
    $(document).ready(function() {
        //CHECKBOX PRETTYFY
        $('.skin-flat input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red'
        });
        $('.skin-line input').each(function() {
            var self = $(this),
                label = self.next(),
                label_text = label.text();

            label.remove();
            self.iCheck({
                checkboxClass: 'icheckbox_line-blue',
                radioClass: 'iradio_line-blue',
                insert: '<div class="icheck_line-icon"></div>' + label_text
            });
        });
        //Switch Button

        $('.make-switch').bootstrapSwitch('setSizeClass', 'switch-small');
    });
    </script>
    <script type="text/javascript">
    
    $('#dp1').datepicker({
		format: 'dd/mm/yyyy',                
    	language: 'pt-BR',
		multidate: true,
		clearBtn: true,
    	keyboardNavigation: false
	});	
    
	
	$(".data").mask("99/99/9999");
    </script>

    <script>
	$(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
	
	});
	
	$(document).ready(function(){
     $("#button-bg").click(function() {
		  $('#bg-tema').val("url('assets/img/bg5.jpg')no-repeat center center fixed");
      });

      $("#button-bg2").click(function() {
          $('#bg-tema').val("url('assets/img/bg2.jpg')no-repeat center center fixed");
      });


      $("#button-bg3").click(function() {
          $('#bg-tema').val("url('assets/img/bg.jpg')no-repeat center center fixed");
      });

      $("#button-bg5").click(function() {
		  $('#bg-tema').val("url('assets/img/giftly.png')repeat");
      });

	  $("#button-bg6").click(function() {
		  $('#bg-tema').val("#2c3e50");
      });
	  
      $("#button-bg7").click(function() {
		  $('#bg-tema').val("url('assets/img/bg3.png')repeat");
      });
      $("#button-bg8").click(function() {
		  $('#bg-tema').val("url('assets/img/bg8.jpg')no-repeat center center fixed");
      });
      $("#button-bg9").click(function() {
          $('#bg-tema').val("url('assets/img/bg9.jpg')no-repeat center center fixed");
      });

      $("#button-bg10").click(function() {
          $('#bg-tema').val("url('assets/img/bg10.jpg')no-repeat center center fixed");
      });
      $("#button-bg11").click(function() {
          $('#bg-tema').val("url('assets/img/bg11.jpg')no-repeat center center fixed");
      });
      $("#button-bg12").click(function() {
         $('#bg-tema').val("url('assets/img/bg12.jpg')no-repeat center center fixed");
      });

      $("#button-bg13").click(function() {
          $('#bg-tema').val("url('assets/img/bg13.jpg')repeat");

      });
});
 
function mostraSelect() {
    if (document.getElementById('entidades').checked) {
        document.getElementById('SelectEntidades').style.display = 'block';
        document.getElementById('SelectAdministradoras').style.display = 'none';
		document.getElementById('SelectProfissao').style.display = 'none';
    }
	if (document.getElementById('administradoras').checked) {
        document.getElementById('SelectEntidades').style.display = 'none';
        document.getElementById('SelectAdministradoras').style.display = 'block';
		document.getElementById('SelectProfissao').style.display = 'none';
    }
    if (document.getElementById('profissao').checked) {
        document.getElementById('SelectEntidades').style.display = 'none';
        document.getElementById('SelectAdministradoras').style.display = 'none';
		document.getElementById('SelectProfissao').style.display = 'block';
    }
}
</script>   
