﻿<div id="skin-select">
        <div id="logo">
            <h1><a href="{ROOT}/simulador">{LOGO_CORRETORA}</a>
                <span>v1.0</span>
            </h1>
        </div>

        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        
        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="">Planos de Saúde</span>
                                <i data-toggle="tooltip" class="fa fa-heartbeat pull-right "></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Tabelas Resumidas Planos de Saúde">
                                <i class="fa fa-th-list"></i>
                                <span>Tabelas Resumidas</span>

                            </a>
                            <ul>
                                <li class="{MENU1}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/resumida-saude-pf" title="Pessoa Física"><i class="entypo-doc-text"></i><span>Pessoa Física</span></a>
                                </li>
                                <li class="{MENU2}">
                                    <a class="tooltip-tip2 ajax-load" href="{ROOT}/resumida-saude-pme" title="PME"><i class="entypo-newspaper"></i><span>PME</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Simulador Planos de Saúde">
                                <i class="icon-document-edit"></i>
                                <span>Simulador Online</span>

                            </a>
                            <ul>
                                <li class="{MENU3}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/simular-saude-familiar" title="Familiar"><i class="entypo-doc-text"></i><span>Familiar</span></a>
                                </li>
                                <li class="{MENU4}">
                                    <a class="tooltip-tip2 ajax-load" href="{ROOT}/simular-saude-individual" title="Individual"><i class="entypo-newspaper"></i><span>Individual</span></a>
                                </li>
                                <li class="{MENU5}">
                                    <a class="tooltip-tip2 ajax-load" href="{ROOT}/simular-saude-pme" title="PME"><i class="entypo-newspaper"></i><span>PME</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="">Planos Odontológicos</span>
                                <i data-toggle="tooltip" class="fa fa-smile-o pull-right"></i>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Tabelas Resumidas Planos Odonto">
                                <i class="fa fa-th-list"></i>
                                <span>Tabelas Resumidas</span>

                            </a>
                            <ul>
                                <li class="{MENU6}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/resumida-odonto-pf" title="Pessoa Física"><i class="entypo-doc-text"></i><span>Pessoa Física</span></a>
                                </li>
                                <li class="{MENU7}">
                                    <a class="tooltip-tip2 ajax-load" href="{ROOT}/resumida-odonto-pme" title="PME"><i class="entypo-newspaper"></i><span>PME</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Simulador Planos Odonto">
                                <i class="icon-document-edit"></i>
                                <span>Simulador Online</span>

                            </a>
                            <ul>
                                <li class="{MENU8}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/simular-odonto-familiar" title="Familiar"><i class="entypo-doc-text"></i><span>Familiar</span></a>
                                </li>
                                <li class="{MENU9}">
                                    <a class="tooltip-tip2 ajax-load" href="{ROOT}/simular-odonto-individual" title="Individual"><i class="entypo-newspaper"></i><span>Individual</span></a>
                                </li>
                                <li class="{MENU10}">
                                    <a class="tooltip-tip2 ajax-load" href="{ROOT}/simular-odonto-pme" title="PME"><i class="entypo-newspaper"></i><span>PME</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul id="menu-showhide" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="">Planos por Adesão</span>
                                <i data-toggle="tooltip" class="fa fa-building pull-right"></i>

                            </a>
                        </li>
						<li>
                            <a class="tooltip-tip ajax-load" href="#" title="Tabelas Resumidas Planos por Adesão">
                                <i class="fa fa-th-list"></i>
                                <span>Tabelas Resumidas</span>

                            </a>
                            <ul>
                                <li class="{MENU11}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/resumida-adesao-pf" title="Pessoa Física"><i class="entypo-doc-text"></i><span>Pessoa Física</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Simulador Planos por Adesão">
                                <i class="icon-document-edit"></i>
                                <span>Simulador Online</span>

                            </a>
                            <ul>
                                <li class="{MENU12}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/simular-adesao-pf" title="Pessoa Física"><i class="entypo-doc-text"></i><span>Pessoa Física</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
					
					<ul id="menu-showhide" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="">Comparador</span>
                                <i data-toggle="tooltip" class="fa fa-copy pull-right"></i>

                            </a>
                        </li>
						
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Simulador Planos por Adesão">
                                <i class="fa fa-copy"></i>
                                <span>Comparar Planos</span>

                            </a>
                            <ul>
                                <li class="{MENU13}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/comparar-saude" title="Comparar Planos de Saúde"><i class="entypo-doc-text"></i><span>Planos de Saúde</span></a>
                                </li>
								<li class="{MENU14}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/comparar-odonto" title="Comparar Planos Odontológicos"><i class="entypo-doc-text"></i><span>Planos Odontológicos</span></a>
                                </li>
								<li class="{MENU15}">
                                    <a class="tooltip-tip ajax-load" href="{ROOT}/comparar-adesao" title="Comparar Planos por Adesão"><i class="entypo-doc-text"></i><span>Planos por Adesão</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
					
					<ul id="menu-showhide" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="">Calculadora</span>
                                <i data-toggle="tooltip" class="fa fa-calendar pull-right"></i>

                            </a>
                        </li>
						
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Calculadora de Idade">
                                <i class="fa fa-calendar-o"></i>
                                <span>Calculadora de Idade</span>

                            </a>
                            <ul>
                                <li class="{MENU16}">
                                    <a class="tooltip-tip ajax-load" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal" title="Calcular por Data"><i class="entypo-doc-text"></i><span>Calcular por Data</span></a>
                                </li>
								<li class="{MENU17}">
                                    <a class="tooltip-tip ajax-load" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal2" title="Calcular por Ano"><i class="entypo-doc-text"></i><span>Calcular por Ano</span></a>
                                </li>
								
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calcular por Data de Nascimento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="{ROOT}/calcular-idade" method="post">
		  <div class="modal-body">
			 <div class="well">
			 <div class="col-md-12">
                 <input type="text" class="form-control" name="data" required id="dp1" class="data" placeholder="DD/MM/AAAA, DD/MM/AAAA" />
				 * Selecione as datas ou digite separando-as por ",", no formato DD/MM/AAAA.
             </div>
				 <div class="clearfix"></div>
			 </div>
			  
		  </div>
		  <div class="clearfix"></div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<button type="sumit" class="btn btn-primary">Calcular</button>
		  </div>
	  </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calcular por Ano de Nascimento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="{ROOT}/calcular-idade" method="post">
		  <div class="modal-body">
			 <div class="well">
			 	<input type="text" class="form-control" name="ano" required id="dp1" class="data" placeholder="AAAA" />
				 * Digite os anos de nascimento separando-os por "," no formato AAAA (Quatro dígitos).
		     </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<button type="sumit" class="btn btn-primary">Calcular</button>
		  </div>
	  </form>
    </div>
  </div>
</div>
