﻿<nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>

                <div id="logo-mobile" class="visible-xs">
                    <h1>
                        <span>v1.0</span>
                    </h1>
                </div>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" class="admin-pic img-circle" src="{ROOT}/src/imagens/avatar.png">Olá, {NOME_USUARIO} <b class="caret"></b>
                        </a>
                        <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                            <li>
                                <a href="meu-perfil">
                                    <span class="entypo-user"></span>&#160;&#160;Meu Perfil</a>
                            </li>
                            <!-- BEGIN BLOCO_CONFIGURACOES -->
                            <li>
                                <a href="configuracoes">
                                    <span class="fa fa-gear"></span>&#160;&#160;Configurações</a>
                            </li>
                            <li>
                                <a href="usuarios">
                                    <span class="fa fa-users"></span>&#160;&#160;Usuários</a>
                            </li>
                            <!-- END BLOCO_CONFIGURACOES -->
                            <li class="divider"></li>
                            <li>
                                <a href="?logout=logout">
                                    <span class="entypo-logout"></span>&#160;&#160;Sair</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>